@font-face {
  font-family: sketchBones;
  src: url(sketchBones.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(../wood_background.jpg);
  background-position: center, center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.instructions {
  position: absolute;
  background-color: gold;
  width: 80%;
  height: 80%;
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 10px;
  top: 10%;
  left: 10%;
  box-shadow: 0 0 20px 10px #111;
}

.instructions h2 {
  text-align: center;
  font-family: sketchBones;
  font-size: 2rem;
}

.instructions h5 {
  font-size: 1.5rem;
  font-family: Helvetica;
  letter-spacing: -1px;
  color: purple;
}

.instructions ul {
  list-style: circle;
}

.instructions ul li {
  font-family: helvetica;
  margin-top: 5px;
  line-height: 1.3rem;
}
.closeButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#close {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 800;
  border-radius: 5px;
  outline: none;
  margin-right: -25px;
  margin-top: -5px;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 140px 1fr 140px;
  grid-template-areas:
    "player4 player4 player4 player4"
    "player3 . . player2"
    "player1 player1 player1 player1";
}

#help {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  box-shadow: 0 0 5px 3px lightyellow;
  border: none;
  background-color: #222;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  transform: scale(1, 1);
  transition: 150ms ease-in;
  cursor: pointer;
}

#help:hover {
  transform: scale(1.03, 1.03);
  transform-origin: center;
  background-color: #333;
}

.player1 {
  grid-area: player1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player2 {
  grid-area: player2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.player3 {
  grid-area: player3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.player4 {
  grid-area: player4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diceContainer1,
.diceContainer4 {
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.diceContainer2,
.diceContainer3 {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 120px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.diceImg {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin: 5px;
}

.diceContainer1 .diceCup {
  cursor: pointer;
}

.diceCup {
  width: 80px;
}

.hidden {
  display: none;
}

.startBtn {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  padding: 15px;
  font-size: 1.2rem;
  font-family: Helvetica;
  border-radius: 1000px;
  background-color: rgb(26, 211, 26);
  font-weight: 600;
  color: black;
  border: solid 1px black;
  box-shadow: 0 0 10px 2px #333;
  cursor: pointer;
  transform: scale(1, 1);
  transition: 150ms ease;
}

#start:hover {
  transform: scale(1.03, 1.03);
  background-color: lime;
}
