@font-face {
  font-family: sketchBones;
  src: url(sketchBones.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(../wood_background.jpg);
  background-position: center, center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: Helvetica;
}

.instructions {
  position: absolute;
  background-color: rgb(86, 95, 86);
  width: 80%;
  height: 80%;
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 10px;
  top: 10%;
  left: 10%;
  box-shadow: 0 0 20px 10px #111;
}

.instructions h2 {
  text-align: center;
  font-family: sketchBones;
  font-size: 2.3rem;
  color: #ddd;
  margin-bottom: 10px;
}

.instructions h5 {
  font-size: 1.5rem;
  letter-spacing: -1px;
  color: #111;
}

.instructions ul {
  list-style: circle;
}

.instructions ul li {
  margin-top: 5px;
  line-height: 1.3rem;
}
.closeButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#close {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 800;
  border-radius: 5px;
  outline: none;
  margin-right: -25px;
  margin-top: -5px;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 180px 1fr 1fr 180px;
  grid-template-rows: 140px 1fr 140px;
  grid-template-areas:
    "player3 player3 player3 player3"
    "player4 buttons buttons player2"
    "player1 player1 player1 player1";
}

.currentBid {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

#currentBidText {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

#help {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  box-shadow: 0 0 8px 3px #111;
  border: none;
  background-color: rgb(84, 117, 84);
  color: #ddd;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  transform: scale(1, 1);
  transition: 150ms ease-in;
  cursor: pointer;
  z-index: 1;
}

#help:hover {
  transform: scale(1.03, 1.03);
  transform-origin: center;
  background-color: rgb(67, 94, 67);
}

.player1 {
  grid-area: player1;
  justify-content: center;
}

.player2 {
  grid-area: player2;
  justify-content: flex-end;
}

.player3 {
  grid-area: player3;
  justify-content: center;
}

.player4 {
  grid-area: player4;
  justify-content: flex-start;
}

.player1,
.player2,
.player3,
.player4 {
  display: flex;
  align-items: center;
  position: relative;
}

.player1 h3,
.player2 h3,
.player3 h3,
.player4 h3 {
  position: absolute;
  font-size: 1.5rem;
}

.player1 h3 {
  top: -2vw;
}

.player4 h3 {
  transform: rotate(90deg);
  right: 5px;
}

.player3 h3 {
  bottom: -2vw;
}

.player2 h3 {
  transform: rotate(-90deg);
  left: 5px;
}

.activePlayer {
  color: white;
  filter: drop-shadow(2px 1px 1px black);
}

.diceContainer1,
.diceContainer3 {
  width: 150px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.diceContainer2,
.diceContainer4 {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 120px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.diceContainer1 {
  transition: 1s ease-in-out;
}

.diceImg {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin: 5px;
  opacity: 0;
  transition: 500ms ease-in-out;
}

#playerDiceCup {
  cursor: pointer;
  transition: 1s ease-in-out;
  z-index: 1;
}

.transformDiceCup {
  transform: translateX(150px) translateY(-100px) rotate(45deg);
  transition: 1.5s ease-in-out;
}

.diceCup {
  width: 80px;
  position: absolute;
}

.hidden {
  display: none;
}

.fadeIn {
  opacity: 1;
  transition: 1.5s ease-in-out;
}

.gameButtons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.comThinking {
  font-size: 1.8rem;
  font-weight: 600;
}

.comThinking span {
  font-size: 2.3rem;
}

.gameInputs {
  width: 75px;
  text-align: center;
  font-size: 1.1rem;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.winMessage {
  display: none;
}

input {
  padding: 5px;
  text-align: center;
  width: 40px;
  font-weight: 600;
  font-size: 1.2rem;
  border: 3px solid #555;
  outline: none;
  border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.bid,
.liar {
  width: 120px;
  padding: 10px;
  border-radius: 15px;
  font-size: 1.1rem;
  letter-spacing: -0.5px;
  word-spacing: 2.5px;
  font-weight: 600;
  color: #222;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 3px #222;
  cursor: pointer;
  text-transform: uppercase;
}

.bid {
  background-color: rgb(26, 211, 26);
  margin-top: 10px;
}

.liar {
  background-color: rgb(238, 48, 48);
  margin-bottom: 10px;
}

.startBtn {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  margin-top: 50px;
  padding: 25px;
  font-size: 1.2rem;
  border-radius: 1000px;
  background-color: #ddd;
  font-weight: 600;
  color: black;
  border: solid 1px black;
  box-shadow: 0 0 10px 2px #333;
  cursor: pointer;
  transform: scale(1, 1);
  transition: 150ms ease;
}

#start:hover {
  transform: scale(1.03, 1.03);
  background-color: lime;
}

@media screen and (max-width: 800px) {
  .diceCup {
    width: 60px;
  }
}
